.top3{
    display: flex;
    justify-content: space-around;


    :hover{
        opacity: 0.7;
    }

}

i{
    font-size: 30px;
}

.gold{
    color: gold;
}

.silver{
    color: silver;
}

.bronze{
    color: rgb(169, 108, 39);
}

.nonleaders{
    div{
        margin-bottom: 20px;
    }
    :hover{
        opacity: 0.7;
    }
}

@media (max-width: 680px){
    .top3{
        display: block;
        div{
            margin: auto;
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }

}